* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  color: #495057;
  width: 98.718vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: 2rem;
}

.grid-2-columns {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
}

.grid-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

.witdth-70-per-cent {
  width: 70%;
}

.min-width-0 {
  min-width: 0;
}

.padding-left-1rem {
  padding-left: 0.3rem;
}

.not-flexbox-li {
  margin: 0;
}

.flexbox-space-between {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}
